<div class="container">
  <div class="row pricing">
    <div class="pricing-tab">
      <p class="text-center">Months 1-12</p>
      <p class="text-center">${{ pricingService.currentPackage.year1Pricing }}</p>
    </div>
    <div class="pricing-tab">
      <p class="text-center">Months 13+</p>
      <p class="text-center">${{ pricingService.currentPackage.year2Pricing }}</p>
    </div>
  </div>
  
  <div *ngIf="currentService">
    {{ currentService.name }} {{ type }}
  </div>
  
  
  
  <div class="row" *ngIf="tempPackage">
    <p>Temp Package Price</p>
    {{ tempPackage.tv.base }}
  </div>
  
  <div id="packages" class="row" *ngIf="currentService">
    <div *ngFor="let package of currentService.packages">
      <button (click)=selectPackage(package)>{{ package[0] }}</button>
    </div>
  </div>
  
  <div id="discounts" class="row" *ngIf="currentService">
    <div *ngFor="let discount of currentService.discounts">
      <button (click)=selectDiscount(discount) [ngClass]="{'active': discount[3]==true}">{{ discount[0] }}</button>
    </div>
    <!-- <div *ngFor="let discount of currentService.discounts">
      <p>{{ discount[0] }}</p>
      <p>{{ discount[3] }}</p>
    </div> -->
  </div>
  
  <button id="test" (click)=testButton()>Test button</button>
  <!-- <div class="jeffjiv">
    <p class="patrica">
      Jeff and Patrica have 3 kids and 32 1/2 cats , along with 24 dogs. People often forget about their 10,934 goats. Jeff's dad comes to Jeff and Patrica's house and says"Hey Patrica, how are you?" Patrica replies"Good!How about you,Dad? do you know when mom is getting here."" 
    </p>
  </div> -->
</div>