.active {
    background-color: #00A8E0;
    background-color: #00a6d6;
    color: white;
}

#test {
    margin-top: 15px;
}

.button-pricing {
    border-radius: 15px;
}

.button {
    border-radius: 15px;
    border-style: groove;
    min-width: 150px;
    padding: 10px;
    margin-left: 2.5px;
    margin-right: 2.5px;
    font-size: 1.25em;
}

#pricing-section {
    background-color: #00a6d6;
    border-style: none;
}

.pricing-tab {
    padding: 10px;
    margin-left: 2.5px;
    margin-right: 2.5px;
    
}

.pricing-tab p {
    font-size: 1.5em;
    margin-bottom: 0px;
    color: white;
}

.pricing {
    /* margin-top: 10px;
    margin-bottom: 10px; */
}

#regional {
    margin-bottom: 10px;
    background-color: #00a6d6;
    color: white;
    /* padding-left: -15px;
    padding-right: -15px; */
    height: 24px;
    border-style: none;
}

#control-selection {
    margin-top: 7.5px;
    margin-bottom: 7.5px;
}

.control-tab {

}

#packages {
    margin-top: 7.5px;
}

.packages-tab {

}

.packages {
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;
}

#tv-selection {
    margin-top: 10px;
}

#tv {
    /* margin-top: 5px;
    margin-bottom: 5px; */
    border-style: groove;
    border-radius: 15px;
    display: flex;
    margin-bottom: 7.5px;
}

.tv-tab {
    padding: 10px;
    width: 40px;
    font-size: 1.25em;
    border: none;
}

#discounts-selection {
    margin-top: 7.5px;
    margin-bottom: 7.5px;
}

#discounts {

}

.discounts-tab {

}

#internet-selection {
    margin-top: 7.5px;
}

#internet {
    margin-top: 5px;
    margin-bottom: 5px;
}

.internet-tab {

}

#bottom {
    margin: 100px;
}

#tv1 {
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

.far-right-tv {
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

@media (min-width: 768px) { 
    .button {
        min-width: 250px;
        padding: 10px;
        margin-left: 5px;
        margin-right: 5px;
        font-size: 1.5em;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    #bottom {
        margin: 0px;
    }

    .tv-tab {
        width: 60px;
        font-size: 1.5em;
    }

    .pricing-tab p {
        font-size: 2em;
    }

    #regional {
        height: 45px;
        font-size: 1.5em;
    }
 }