.coming-soon {
    margin-top: 25%; 
}

.input-container {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}

mat-card {
  padding: 0%;
  margin-bottom: 15px;
}

mat-form-field {
  font-size: 1.25em;
}

.packages-compare {
  width: 100%;
}

.cost-header {
  background-color: #00a6d6;
  color: #ffffff;
  padding: 10px;
}

.tv-package-info {
  font-size: 1.5em;
  padding: 5px;
}

.internet-package {
  font-size: 1.5em;
}

.tv-package-addOn {
  font-size: 1.15em;
}

.addOn-header {
  text-decoration: underline;
  text-decoration-color: #00c3ff;
}

.includes-header {
  text-decoration: underline;
  text-decoration-color: #00c3ff;
}

.discounts {
  font-size: 1.15em;
}

.tv-package-freeAddOn {
  font-size: 1.15em;
  color: #00a6d6;
}

.button {
    border-radius: 15px;
    border-style: groove;
    min-width: 150px;
    padding: 10px;
    margin-left: 2.5px;
    margin-right: 2.5px;
    font-size: 1.25em;
}

.pricing-tab-compare {
    padding: 5px;
    margin-left: 2.5px;
    margin-right: 2.5px;
}

#regional {
  font-size: .75em;
  color: #ffffff;
}

#remove {
    color: red;
    padding-bottom: 5px;
    font-size: 1em;
}
/* End Compare */

#pricing-section {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    background-color: #00a6d6;
    border: 0px;
    border-bottom: 2px solid #ffffff;
}
.active {
    background-color: #00a6d6;
    color: white;
}

.addon-active {
    background-color: red!important;
}

#test {
    margin-top: 15px;
}

.button-pricing {
    border-radius: 15px;
}

.button {
    border-radius: 15px;
    border-style: groove;
    min-width: 150px;
    padding: 10px;
    margin-left: 2.5px;
    margin-right: 2.5px;
    font-size: 1.25em;
}

.pricing-tab {
    padding: 5px;
    margin-left: 2.5px;
    margin-right: 2.5px;
    
}

.pricing-tab p {
    font-size: 1.5em;
    margin-bottom: 0px;
    color: white;
}

#regional {
    margin-bottom: 10px;
    background-color: #00a6d6;
    color: white;
    height: 24px;
    border-style: none;
}

#control-selection {
    margin-top: 125px;
    margin-bottom: 5px;
}

#packages {
    margin-top: 5px;
}

.packages {
    margin-top: 2.5px;
    margin-bottom: 2.5px;
    display: flex;
}

#tv-selection {
    margin-top: 5px;
}

#tv {
    border-style: groove;
    border-radius: 15px;
    display: flex;
    margin-bottom: 5px;
}

.tv-tab {
    padding: 10px;
    width: 40px;
    font-size: 1.25em;
    border: none;
}

#addOns-selection {
    margin-top: 5px;
    margin-bottom: 5px;
}

#discounts-selection {
    margin-top: 5px;
    margin-bottom: 5px;
}

#free-service-header {
    color: #00a6d6;
    margin: 0px;
}

.free-addon-tab {
    margin-top: 5px;
}

#internet-selection {
    margin-top: 5px;
}

#internet {
    margin-top: 5px;
    margin-bottom: 5px;
}

#tv1 {
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

.far-right-tv {
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

#compare {
    margin-top: 5px;
    max-width: 350px;
}

@media (min-width: 768px) { 
    .button {
        min-width: 225px;
        padding: 10px;
        margin-left: 5px;
        margin-right: 5px;
        font-size: 1.5em;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    #bottom {
        margin: 0px;
    }

    .tv-tab {
        width: 60px;
        font-size: 1.5em;
    }

    .pricing-tab p {
        font-size: 2em;
    }

    #regional {
        height: 45px;
        font-size: 1.5em;
    }

    #control-selection {
        margin-top: 175px;
    }
 }