.patrica {
    color: Teal;
    font-size: 20px;
    font-weight: 500;
    padding: 15px;
    text-align: justify;
}

.jeffjiv {
    margin: 20px;
    background-color: white;
}

.container {
    padding: 0px!important;
}

.active {
    background-color: #00A8E0;
    background-color: #00a6d6;
    color: white;
}

#test {
    margin-top: 15px;
}

.button-pricing {
    border-radius: 15px;
}

.button {
    border-radius: 15px;
    border-style: groove;
}

#pricing-section {
    background-color: #00a6d6;
}

.pricing-tab {
    padding: 10px;
    margin-left: 2.5px;
    margin-right: 2.5px;
    min-width: 150px;
}

.pricing-tab p {
    font-size: 1.5em;
    margin-bottom: 0px;
    color: white;
}

.pricing {
    /* margin-top: 10px;
    margin-bottom: 10px; */
}

#regional {
    margin-bottom: 10px;
    background-color: #00a6d6;
    color: white;
    padding-left: -15px;
    padding-right: -15px;
}

#control-selection {
    margin-top: 10px;
    margin-bottom: 10px;
}

.control-tab {
    /* background-color: #1254e9; */
    padding: 10px;
    margin-left: 2.5px;
    margin-right: 2.5px;
    min-width: 150px;
    font-size: 1.25em;
}

#packages {
    margin-top: 10px;
}

.packages-tab {
    /* background-color: #1254e9; */
    padding: 10px;
    margin-left: 2.5px;
    margin-right: 2.5px;
    min-width: 150px;
    font-size: 1.25em;
}

.packages {
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;
}

#tv-selection {
    margin-top: 10px;
}

#tv {
    /* margin-top: 5px;
    margin-bottom: 5px; */
    display: flex;
}

.tv-tab {
    /* background-color: #1254e9; */
    padding: 10px;
    /* margin-left: 2.5px;
    margin-right: 2.5px; */
    width: 40px;
    font-size: 1.25em;
    border: none;
}

#discounts-selection {
    margin-top: 10px;
    margin-bottom: 10px;
}

#discounts {
    display: flex;
}

.discounts-tab {
    /* background-color: #1254e9; */
    padding: 10px;
    margin-left: 2.5px;
    margin-right: 2.5px;
    min-width: 150px;
    font-size: 1.25em;
}

#internet-selection {
    margin-top: 10px;
}

#internet {
    margin-top: 5px;
    margin-bottom: 5px;
    /* display: flex; */
}

.internet-tab {
    /* background-color: #1254e9; */
    padding: 10px;
    margin-left: 2.5px;
    margin-right: 2.5px;
    min-width: 150px;
    font-size: 1.25em;
}