/* #nav-bar {
    margin-top: 175px;
} */

.tab-group {
    background-color: #00a6d6;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
    margin: 0px;
    height: 50px;
    color: white;
    display: flex;
}

.nav-tab {
    width: 19%;
    padding-top: 13px;
}

#compare-select {
    width: 24%;
}

.active {
    background-color: white;
    color: #00a6d6;
    border-style: none;
}

textarea:focus, input:focus {
    outline: none;
}

*:focus {
    outline: none;
}

@media (min-width: 768px) {
    #nav-bar {
        margin-top: 100px;
    }
    .tab-group {
        font-size: 1.5em;
    }

    .nav-tab {
        padding-top: 10px;
        font-size: 1.5em;
    }

    .tab-group {
        height: 75px;
        max-width: 1000px;
    }

    .active {
        font-weight: 400;
    }
}