<div class="row tab-group">
  <div routerLink="/" (click)="serviceSelect($event)" id="dtv-select" class="nav-tab text-center active">DTV</div>
  <div routerLink="/" (click)="serviceSelect($event)" id="uvtv-select" class="nav-tab text-center">UVTV</div>
  <div routerLink="/" (click)="serviceSelect($event)" id="now-select" class="nav-tab text-center">NOW</div>
  <div routerLink="/" (click)="serviceSelect($event)" id="bb-select" class="nav-tab text-center">BB</div>
  <div routerLink="/compare" (click)="serviceSelect($event)" id="compare-select" class="nav-tab text-center">Compare</div>
</div>