<!-- <nav class="row tab-group">
  <div (click)="serviceSelect($event)" id="dtv-select" class="nav-tab text-center active">DTV</div>
  <div (touch)="serviceSelect($event)" id="uvtv-select" class="nav-tab text-center">UVTV</div>
  <div (touch)="serviceSelect($event)" id="now-select" class="nav-tab text-center">NOW</div>
  <div (click)="test()" id="bb-select" class="nav-tab text-center">BB</div>
  <div routerLink="/compare" id="compare-select" class="nav-tab text-center">Compare</div>
</nav> -->
<div id="nav-bar" class="row">
  <nav class="tab-group">
    <div (click)="serviceSelect('dtv-select')" routerLink="/" id="dtv-select" class="nav-tab text-center active">DTV</div>
    <div (click)="serviceSelect('uvtv-select')" routerLink="/" id="uvtv-select" class="nav-tab text-center">UVTV</div>
    <div (click)="serviceSelect('now-select')" routerLink="/" id="now-select" class="nav-tab text-center">NOW</div>
    <div (click)="serviceSelect('bb-select')" routerLink="/" id="bb-select" class="nav-tab text-center">BB</div>
    <div (click)="serviceSelect('compare-select')" id="compare-select" class="nav-tab text-center">Compare</div>
  </nav>
</div>
