@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import  "node_modules/bootstrap/dist/css/bootstrap.min.css";

.coming-soon {
    margin-top: 25%;
    margin-left: 15px;
    margin-right: 15px;
    color: #00a6d6
}

.input-container {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}