<div class="coming-soon text-center">
  <h3>Future Upgrade Coming Soon</h3>
</div>

<div class="row">
  <nav class="tab-group">
    <div routerLink="/" id="dtv-select" class="nav-tab text-center">DTV</div>
    <div routerLink="/" id="uvtv-select" class="nav-tab text-center">UVTV</div>
    <div routerLink="/" id="now-select" class="nav-tab text-center">NOW</div>
    <div routerLink="/" id="bb-select" class="nav-tab text-center">BB</div>
    <div routerLink="/compare" id="compare-select" class="nav-tab text-center active">Compare</div>
  </nav>
</div>