
<div id="compare-container" *ngIf="packages?.length > 0">
  <div class="input-container">
    <mat-form-field>
      <input matInput placeholder="Current Home Services Cost" type="number" [(ngModel)]="currentCost">
      <span matPrefix>$&nbsp;</span>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Additional Promotions" type="number" [(ngModel)]="promotions">
      <span matPrefix>$&nbsp;</span>
    </mat-form-field>
  </div>
  
  
  <div id="packages">
    <div *ngFor="let package of packages" class="packages">
      
      <mat-card>
        <div class="cost-header">
          <div class="header text-center" (click)=editPackage(package)>
            <h5>Package #{{ packages.indexOf(package) + 1 }}</h5>
          </div>
          <div id="pricing-section" class="row">
            <div class="pricing mx-auto">
              <div class="pricing-tab text-center">
                <h3>Months 1-12
                  <br/>${{ package.year1Pricing }}</h3>
              </div>
            </div>
          
            <div class="pricing mx-auto">
              <div class="pricing-tab text-center">
                <h3>Months 13+
                  <br/>${{ package.year2Pricing }}</h3>
              </div>
            </div>
          </div>
          <div class="text-center">
            <h4 *ngIf="package.year1Pricing < currentCost && promotions">1st Year Savings: ${{ ((currentCost - package.year1Pricing) * 12) + promotions }}</h4>
            <h4 *ngIf="package.year1Pricing < currentCost && !promotions">1st Year Savings: ${{ (currentCost - package.year1Pricing) * 12 }}</h4>
          </div>
          <div class="mx-auto" *ngIf="package.tv.regional">
            <div id="regional" class="text-center">
              Regional Sports Fee May Apply. Amount Varies.
            </div>
          </div>
        </div>
        
        <mat-card-content *ngIf="package.tv.selected">
          <div class="tv-package-info text-center"><span>
             {{ package.tv.tvType }} w/ {{ package.tv.package }} package and {{ package.tv.numberofTVs }}
            <span> TV</span>
            <span *ngIf="package.tv.numberofTVs > 1">'s</span><span *ngIf="package.internet.selected"> including {{ package.internet.internetSpeed | lowercase }} Internet</span>.
          </span>
            
          </div>
          <div class="tv-package-addOn" *ngIf="package.tv.addOns?.length > 0">
            <div class="text-center addOn-header">
               Package Included Premium Services
            </div>
            <div class="text-center">
              <span *ngIf="package.tv.addOns[0]">{{package.tv.addOns[0]}}</span>
              <span *ngIf="package.tv.addOns[1]"> | {{package.tv.addOns[1]}}</span>
              <span *ngIf="package.tv.addOns[2]"> | {{package.tv.addOns[2]}}</span>
              <br *ngIf="package.tv.addOns?.length > 3" />
              <span *ngIf="package.tv.addOns[3]">{{package.tv.addOns[3]}}</span>
              <span *ngIf="package.tv.addOns[4]"> | {{package.tv.addOns[4]}}</span>
              <span *ngIf="package.tv.addOns[5]"> | {{package.tv.addOns[5]}}</span>
            </div>
          </div>
          <div class="tv-package-freeAddOn text-center" *ngIf="package.tv.freeAddon?.length > 0"><p>
            {{ package.tv.freeAddon[0] }} included for free!</p>
          </div>
          <div class="discounts text-center" *ngIf="package.discounts?.length > 0">
            <div class="includes-header">Includes Discount<span *ngIf="package.discounts?.length > 1">'s</span></div>
            <div class="text-center"><span *ngFor="let discount of package.discounts"><span *ngIf="(package.discounts?.indexOf(discount)+2)%2 !== 0"> | </span>{{ discount }}</span></div>
          </div>

        </mat-card-content>
        <mat-card-content *ngIf="package.internet.selected && !package.tv.selected">
          <div class="internet-package text-center">
            <p>{{ package.internet.internetSpeed }} Internet</p>
          </div>
        </mat-card-content>
        <mat-card-content>
          <div id="remove" class="text-center" (click)=removePackage(package)>Remove Package</div>
        </mat-card-content>

      </mat-card>
        
    </div>
  </div>
</div>

<div class="containter"  *ngIf="packages?.length === 0">
  <div class="coming-soon text-center">
    <h3>Must add at least 1 package to compare.</h3>
  </div>
</div>